@import "../style/mixin.scss";
@import "../style/tokens.scss";

html {
	height: 100%;
}

body {
	@include bodyNameMixin;
}

.wallpaper {
	@include wallpaperNameMixin;
}

.logo {
	display: flex;
}

img {
	@include imgNameMixin;
}

.wrapper {
	@include wrapperNameMixin;

	h1 {
		@include h1NameMixin;
	}

	.pizza-box {
		@include pizzaboxNameMixin;

		select {
			@include selectNameMixin;
		}
	}

	.sos-box {
		font-weight: 800;
		display: block;
		color: $withe-color;
		margin-bottom: 20px;
		font-size: 16px;
	}

	li {
		list-style-type: none;
		margin: 16px;
		font-weight: 200;
	}

	.bev-box {
		font-weight: 800;
		color: $withe-color;
		margin-bottom: 20px;
		font-size: 16px;
	}

	.user-box {
		position: relative;

		input {
			@include userboxInputNameMixin;
		}
	}

	.fname.valid::before {
		@include validNameMixin;
	}

	.fname.invalid::before {
		@include invalidNameMixin;
	}

	.email.valid::before {
		@include validNameMixin;
	}

	.email.invalid::before {
		@include invalidNameMixin;
	}

	.telefon.valid::before {
		@include validNameMixin;
	}

	.telefon.invalid::before {
		@include invalidNameMixin;
	}

	textarea {
		@include textareaNameMixin;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.order-btn {
		margin-top: 30px;
	}

	.delate-btn {
		margin-top: 30px;
	}

	.btn {
		@include btnNameMixin;

		&.delate-btn:hover {
			@include delateBtnNameMixin;
		}

		&.order-btn:hover {
			@include orderBtnNameMixin;
		}
	}

	a span {
		position: absolute;
		display: block;
	}

	.span-condition {
		color: #ffffff4e;
		font-weight: 600;
		font-style: italic;
	}

	.span-footer {
		color: #9c9c9c;
		font-size: 10px;
	}
}