html {
  height: 100%;

}



body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;



}

.wallpaper {
  height: 100vh;
  width: 100%;
  background-image: url(../img/pizza-4968645_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  display: flex;
}


img {
  width: 110px;
  position: absolute;
  top: 70px;
  right: 100px;

}

.pizza-box {

  display: flex;
  align-items: center;
  height: 50px;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

.pizza-box select {
  padding: 2px;
  background-color: #d5d5d5;
  position: absolute;
  right: 30px;
  font-size: 15px;
  text-align: center;
  width: 180px;
  


}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.744);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.wrapper h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}



.wrapper .sos-box {
font-weight: bold;
  display: block;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 16px;
  
}

.wrapper li {
  list-style-type: none;
  margin: 16px;
  font-weight: lighter;
}

.wrapper .user-box {
  position: relative;

}

.wrapper .user-box input {
  
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}


textarea {
  position: relative;
  color: #ffffff;
  background-color: #243b55;

  font-family: sans-serif;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;

  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}


.buttons {
  display: flex;                  
  flex-direction: row;           
  flex-wrap: nowrap;              
  justify-content: space-between;
}

.order-btn {
  
  margin-top: 30px;
  
}
.delate-btn {
  
  margin-top: 30px;
 
}

.wrapper form a {

  outline: none;
  background: #141e30;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.wrapper a:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 1px;
  box-shadow: 0 0 10px #ffffff;
  transition-duration: 1200ms;
}

.wrapper a span {
  position: absolute;
  display: block;
}
.span-condition{
  color: #ffffff4e;
  font-weight: lighter;
  font-style: italic;
}
.span-footer {
  color: #9c9c9c;
  font-size: 10px;
}